In [4]:
from sklearn.svm import OneClassSVM
from sklearn.model_selection import train_test_split
import pandas as pd
from joblib import dump
from os.path import join, dirname, realpath
import sys

DATA_DIR = join("data")

PCAP = {"1": join(DATA_DIR, "mega104-17-12-18.pcapng"),
        "2": join(DATA_DIR, "10122018-104Mega.pcapng"),
        "3": join(DATA_DIR, "10122018-104Mega-anomaly.pcapng")}

CSV = {"1": join(DATA_DIR, "mega104-17-12-18.pcapng.csv"),
       "2": join(DATA_DIR, "10122018-104Mega.pcapng.csv"),
       "3": join(DATA_DIR, "10122018-104Mega-anomaly.pcapng.scv")}

In [14]:
def create_model(num=1, nu=0.0188):
    iec104 = pd.read_csv(CSV[str(num)], header=0, skipinitialspace=True)

    iec104 = iec104.drop(columns=["relative_time_stamp"])
    x_train, x_test = train_test_split(iec104, train_size=2/3, test_size=1/3,
                                    shuffle=False, random_state=0)
    one_class_svm = OneClassSVM(nu=nu, kernel = 'rbf', gamma = 0.1).fit(x_train)
    dump(one_class_svm, f"{DATA_DIR}/one-class-svm.joblib")
    prediction = one_class_svm.predict(x_test)

    size = len(prediction)
    t = [i for i in prediction if i == -1]
    anomalies = len(t)
    t = [i for i in prediction if i == 1]
    ok = len(t)
    perc_anom = anomalies/size

    print(f"Nu is: {nu:.4f}")
    print(f"Total number of samples: {size}")
    print(f"Normal: {ok} ({100*(1-perc_anom):.2f}%)")
    print(f"Anomalies: {anomalies} ({100*perc_anom:.2f}%)")
    return [nu, perc_anom, 1 - perc_anom]

In [17]:
create_model(1)
create_model(2)

Nu is: 0.0188
Total number of samples: 12554
Normal: 12344 (98.33%)
Anomalies: 210 (1.67%)
Nu is: 0.0188
Total number of samples: 22126
Normal: 15500 (70.05%)
Anomalies: 6626 (29.95%)

[0.0188, 0.2994666907710386, 0.7005333092289614]

In [24]:
nu = 0.002
result_pd_1 = []
result_pd_2 = []
while nu < 0.031:
    entry = (nu, *create_model(1, nu=nu)[1:])
    result_pd_1.append(entry)
    entry = (nu, *create_model(2, nu=nu)[1:])
    result_pd_2.append(entry)
    nu += 0.002

df_1 = pd.DataFrame(result_pd_1, columns=["nu", "anomalies_1", "ok_1"])
df_2 = pd.DataFrame(result_pd_2, columns=["nu", "anomalies_2", "ok_2"])
df_1.to_csv("./data/pandas-df.csv")
df_2.to_csv("./data/pandas-df.csv")

Nu is: 0.002
Total number of samples: 12554
Normal: 11530 (91.84%)
Anomalies: 1024 (8.16%)
Nu is: 0.002
Total number of samples: 22126
Normal: 17333 (78.34%)
Anomalies: 4793 (21.66%)
Nu is: 0.004
Total number of samples: 12554
Normal: 11970 (95.35%)
Anomalies: 584 (4.65%)
Nu is: 0.004
Total number of samples: 22126
Normal: 18579 (83.97%)
Anomalies: 3547 (16.03%)
Nu is: 0.006
Total number of samples: 12554
Normal: 11999 (95.58%)
Anomalies: 555 (4.42%)
Nu is: 0.006
Total number of samples: 22126
Normal: 20548 (92.87%)
Anomalies: 1578 (7.13%)
Nu is: 0.008
Total number of samples: 12554
Normal: 12012 (95.68%)
Anomalies: 542 (4.32%)
Nu is: 0.008
Total number of samples: 22126
Normal: 16386 (74.06%)
Anomalies: 5740 (25.94%)
Nu is: 0.01
Total number of samples: 12554
Normal: 12025 (95.79%)
Anomalies: 529 (4.21%)
Nu is: 0.01
Total number of samples: 22126
Normal: 21824 (98.64%)
Anomalies: 302 (1.36%)
Nu is: 0.012
Total number of samples: 12554
Normal: 11913 (94.89%)
Anomalies: 641 (5.11%)
Nu is: 0.012
Total number of samples: 22126
Normal: 20860 (94.28%)
Anomalies: 1266 (5.72%)
Nu is: 0.014
Total number of samples: 12554
Normal: 12231 (97.43%)
Anomalies: 323 (2.57%)
Nu is: 0.014
Total number of samples: 22126
Normal: 17517 (79.17%)
Anomalies: 4609 (20.83%)
Nu is: 0.016
Total number of samples: 12554
Normal: 12338 (98.28%)
Anomalies: 216 (1.72%)
Nu is: 0.016
Total number of samples: 22126
Normal: 16649 (75.25%)
Anomalies: 5477 (24.75%)
Nu is: 0.018000000000000002
Total number of samples: 12554
Normal: 12197 (97.16%)
Anomalies: 357 (2.84%)
Nu is: 0.018000000000000002
Total number of samples: 22126
Normal: 15991 (72.27%)
Anomalies: 6135 (27.73%)
Nu is: 0.020000000000000004
Total number of samples: 12554
Normal: 12337 (98.27%)
Anomalies: 217 (1.73%)
Nu is: 0.020000000000000004
Total number of samples: 22126
Normal: 18310 (82.75%)
Anomalies: 3816 (17.25%)
Nu is: 0.022000000000000006
Total number of samples: 12554
Normal: 12252 (97.59%)
Anomalies: 302 (2.41%)
Nu is: 0.022000000000000006
Total number of samples: 22126
Normal: 18887 (85.36%)
Anomalies: 3239 (14.64%)
Nu is: 0.024000000000000007
Total number of samples: 12554
Normal: 12252 (97.59%)
Anomalies: 302 (2.41%)
Nu is: 0.024000000000000007
Total number of samples: 22126
Normal: 15444 (69.80%)
Anomalies: 6682 (30.20%)
Nu is: 0.02600000000000001
Total number of samples: 12554
Normal: 12156 (96.83%)
Anomalies: 398 (3.17%)
Nu is: 0.02600000000000001
Total number of samples: 22126
Normal: 17288 (78.13%)
Anomalies: 4838 (21.87%)
Nu is: 0.02800000000000001
Total number of samples: 12554
Normal: 12233 (97.44%)
Anomalies: 321 (2.56%)
Nu is: 0.02800000000000001
Total number of samples: 22126
Normal: 19843 (89.68%)
Anomalies: 2283 (10.32%)
Nu is: 0.030000000000000013
Total number of samples: 12554
Normal: 12211 (97.27%)
Anomalies: 343 (2.73%)
Nu is: 0.030000000000000013
Total number of samples: 22126
Normal: 15883 (71.78%)
Anomalies: 6243 (28.22%)

In [35]:
df_1.sort_values(by=['ok_1'], ascending=False)

       nu  anomalies_1      ok_1
7   0.016     0.017206  0.982794
9   0.020     0.017285  0.982715
10  0.022     0.024056  0.975944
11  0.024     0.024056  0.975944
13  0.028     0.025570  0.974430
6   0.014     0.025729  0.974271
14  0.030     0.027322  0.972678
8   0.018     0.028437  0.971563
12  0.026     0.031703  0.968297
4   0.010     0.042138  0.957862
3   0.008     0.043173  0.956827
2   0.006     0.044209  0.955791
1   0.004     0.046519  0.953481
5   0.012     0.051059  0.948941
0   0.002     0.081568  0.918432

In [32]:
df_2.sort_values(by=["ok_2"], ascending=False)

       nu  anomalies_2      ok_2
4   0.010     0.013649  0.986351
5   0.012     0.057218  0.942782
2   0.006     0.071319  0.928681
13  0.028     0.103182  0.896818
10  0.022     0.146389  0.853611
1   0.004     0.160309  0.839691
9   0.020     0.172467  0.827533
6   0.014     0.208307  0.791693
0   0.002     0.216623  0.783377
12  0.026     0.218657  0.781343
7   0.016     0.247537  0.752463
3   0.008     0.259423  0.740577
8   0.018     0.277276  0.722724
14  0.030     0.282157  0.717843
11  0.024     0.301998  0.698002